* 
{
    box-sizing: border-box;
}

.font-quicksand-medium-18px{
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font-size: 18px;
    color: black;
}
.font-quicksand-medium-16px{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 11px;
    margin-left: 15px;
}
.font-quicksand-medium-30px{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    margin: 34px 183px 7px 15px;
}
.font-quicksand-bold-34px{
    font-family: 'Quicksand', sans-serif;
    font-size: 34px;
    color: #E1E2E9;
    font-weight: 700;
}
.contents {
    margin: 0 auto;
    background-color:white;
}
.main-container{
    background-color: #EBECF2;
    width: 1200px;
    margin: auto;
    margin-top: 60px;
    padding-top: 40px;
    }  
.header {
    width: 100%;
    background-color: #384B59;
    position: fixed;
    top: 0px;    
    z-index: 999;
}

.divnew {
    width: 1200px;
    background-color: #384B59;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.head-img1 {
    float: left;
    width: 171px;
    height: 41px;
    margin-left: 24px;
}

.head-img2 {
    float: left;
    height: 15px;
    width: 30px;
    margin-left: 60px;
    margin-top: 15px;
}

.toolbox {
    float: right;
    height: 40.41px;
    width: 153px;
    background-color: #384B59;
    margin-right: 24px;
}

.hover-box {
    float: right;
    margin-left: 10px;   

    width: 40px;
    line-height: 40px;
 
    text-align: center;
}

.last-hover-box
{
    margin-left: 0px;
}

.hover-box:hover{
    background-color: #E9E9E91A;
}


.searchicon {
    vertical-align: middle;
}

.settingicon {
    vertical-align: middle;
}

 .message-icon 
{
    vertical-align: middle;
}

.parent
{
    position: relative;
}

 .message {
    position: absolute;
    height: 19px;
    width: 19px;
    background: #FE5621 0% 0% no-repeat padding-box;
    border-radius: 50%;
    text-align: center;
    right: 0px;
    top: 0px;  
    color: #FFFFFF;
    line-height: 19px;  
 
}
.clear {
    clear: both;
}

.section-root {
    background-color: #EBECF2;
}

.dashboard-session {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 43px;
    background-color: #EBECF2;

}

.heading-text {
    float: left;   
}

.three-dots {
    float: right;
    margin: 5px 12px 37px 832px;
}

.board {
    background-color: #EBECF2;
} 
.board2{
    margin-top: 3px;
} 

.rect 
{    
    float: left;
    width: 270px;
    margin-right: 24px;
    background-color: #FFFFFF;
    margin-bottom: 0px;
}

.rectlast {
    margin-right: 0px;
}

.style1 
{    
    background-color: #FEC006;
}

.style2 
{    
    background-color: #E81D62;
}
.style3 
{    
    background-color: #8AC249;
}
.style4 
{    
    background-color: #2095F2;
}

.square {
    float: right;
    background-color: rgba(0,0,0,0.1);
}
.budget-img {
   
    margin: 34px 33px 34px 33px;
      
}
.milestone-img {
    margin: 32px 22px 31px 23px;
}

.task-img {

    margin: 34px 28px 33px 28px;
}
 .documents-img {
    margin: 32px 26px 31px 26px;
}

.milestones-section{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 55px;
    background: #EBECF2 0% 0% no-repeat padding-box;   
}

.arrow-images{
    float: right;
    padding-left: 27px;
    margin-bottom: 25px;
}

.big-circle{

    height: 111px;
    width: 111px;
    border-radius: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 10px solid #8AC249;
    margin: 28px 79px 27px 80px;

}

.outer-border1 
{    
    border: 10px solid #FEC006;
}
.outer-border2
{    
    border: 10px solid #F1F1F1;
}
.small-circle{

    height: 91px;
    width: 91px;
    border-radius: 50%;
    background: #F6EFD2 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
}



.circle-text-big{
color: #363F45;
margin: 14px 22px 10px 23px;
}


.circle-text-small{
    color: #363F45;
    margin: 0px 39px 19px 37px;
}

.text-align1{
    color: #363F45;
    margin: auto;
    line-height: 50px;
    padding-left: 88px;
    line-height: 50px;
    padding-left: 88px;
}


.text-align2{
    color: #E1E2E9;
    line-height: 50px;
    padding: 9px 21px 7px 50px;
}

.progress-bar
{
    margin-top: 31px;
    margin-left: 24px;
    margin-right: 24px;
}

.outer-bar
{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    height: 9px;
    border-radius: 5px;
    padding: 2px;
}
.inner-bar
{
    height: 5px;
    width: 299px;
    background: #D4C69B 0% 0% no-repeat padding-box;
    border-radius: 3px;    
}
.last-section{
    background-color: #EBECF2;
    margin-top: 69px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 110px;
}
 

.text-color-black{
   color: #363F45;
   font-weight: 800;
   margin: 18px 386.5px 38px 29.5px;
}

.recent-tasks{
    float: left;
    border-bottom: 3px solid #E6E7ED;
    background-color: #FFFFFF;
    margin-right: 24px;
}

.recent-task-clear {
    margin-right: 0px !important;
}


.three-dots2    
{
    float: right;
    margin: 19px 30px 30px 0px;
   
}

.work-status{
    float: right;
}

.checkbox
{
    height: 17px;
    width: 17px;
    background-color:  #FFFFFF;
    border: 1px solid #CED4D9 ;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;

}

.date{
    margin-left: 84px;
    max-width: 75px;
    min-width: 75px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #919599;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

footer{
    width: 100%;
    background-color: #384B59;
}

.footer-div
    {
    width: 1200px;
    margin: auto;

}


.lato-regular{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    float: right;
    font-size: 11px;
    color: #9CAAB4;
    background-color:  #384B59;
    padding: 17px 26px 16px 862px;
}

.lato-regular-14px{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #919599;
     padding: 10px;
     vertical-align: middle;
     width: 300px;
     display: inline-block;
     
    }

.lato-regular-13px{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #919599;
    margin-bottom: 20px;
}

li{
    list-style-type: none;
    text-decoration-style: none;
     vertical-align: center;
    }

.div-part2{
   
}

.task-row
{
    padding: 10px 30px;
    border-top: 1px solid #E6E7ED;
}


.task-row-2
{
    padding:44.5px 30px 41px 29.5px;
    border-top: 1px solid #E6E7ED;
}
.last-row
{
    padding-bottom: 56px;
}


.selected{
    background-color: #E1F5E3;
}

.box{
    height: 100px;
}

.work-status
{

}
.outer-bar2 {
    background-color: #E1E2E6;
    height: 9px;
    width: 332px;
    border-radius: 5px;
    margin-left: 78.5px;
}

.inner-bar2 {
    height: 9px;
    background-color: #5FCCC1;
    border-radius: 5px;
    position: relative;
    max-width: 100%;
}

.inner-width-1{
    width: 43%;
}

.inner-width-2{
    width: 58%;
}
.inner-width-3{
    width: 32%;
}

.float-left {
    float: left;
}

.arrow-box {
    background-color: #5FCCC1;
    position: absolute;
    text-align: center;
    bottom: 17px;
    right: -12px;
    border-radius: 5px;

}

.arrow-box::after {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 5px solid #5FCCC1;
    border-left: 5px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: 33%;
    top: 92%;
}

.lato-bold-16px {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    float: left;
    font-size: 16px;
    color: #363F45;
}

.font-size-12px {
    font-size: 12px;
    margin: 3px;
    background-color: #5FCCC1;
    color: #FFFFFF;
}
