* {
    box-sizing: content-box;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font: Medium 18px/22px Quicksand;
    letter-spacing: 0;
    color: black;
    opacity: 1;
}

.lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: right;
    font: Regular 11px/13px Lato;
    letter-spacing: 0;
    color: #000000;
    /* color: #9CAAB4; */
    opacity: 1;
}

.contents {
    z-index: -1;
    max-width: 1200px;
    margin: auto;
    border: 1px solid black;
}

.section-root {
    background-color: green;
}

.dashboard-session {
    height: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    background-color: #FEC006;
}

.dashboard-text {
    width: 300px;
    margin: 0px 24px 36px 24px;
}

.dashboard-image {
    width: 4px;
    height: 17px;
}

.clear {
    clear: both;
}

section .dashboard {
    float: left;
    display: flex;
    width: 1152px;
    background: #EBECF2 0% 0% no-repeat padding-box;
    margin: 37px 24px 55px 24px;
}

section .dashboard .rect {
    width: 270px;
    opacity: 1;
    margin-right: 24px;
    background: #FEC006 0% 0% no-repeat padding-box;
}

section .dashboard .rectlast {
    margin-right: 0px;
}

section .dashboard .rect .square {
    float: right;
    width: 90px;
    opacity: 0.1;
    margin-left: 180px;
    background: #000000 0% 0% no-repeat padding-box;
}

section .dashboard .rect .square .budget-img {
    height: 42px;
    width: 24px;
    background: transparent url('C:/Users/User/Desktop/html-css-assignment/images/budget-img.png') 0% 0% no-repeat padding-box;
    /* background: transparent url('/home/cuelogic.local/swapnil.rasal/vscode-workspace/final-assignment/html/message-icon.png') 0% 0% no-repeat padding-box; */
    margin: 34px 33px 34px 33px;
    opacity: 1;
}

section .dashboard .rect .square .milestone-img {
    height: 47px;
    width: 44px;
    background: transparent url('C:/Users/User/Desktop/html-css-assignment/images/milestone-img.png') 0% 0% no-repeat padding-box;
    /* background: transparent url('/home/cuelogic.local/swapnil.rasal/vscode-workspace/final-assignment/html/message-icon.png') 0% 0% no-repeat padding-box; */
    margin: 32px 22px 31px 23px;
}

section .dashboard .rect .square .task-img {
    height: 43px;
    width: 34px;
    background: transparent url('C:/Users/User/Desktop/html-css-assignment/images/Form1.png') 0% 0% no-repeat padding-box;
    /* background: transparent url('/home/cuelogic.local/swapnil.rasal/vscode-workspace/final-assignment/html/message-icon.png') 0% 0% no-repeat padding-box; */
    margin: 34px 28px 33px 28px;
}

section .dashboard .rect .square .documents-img {
    height: 47px;
    width: 37px;
    background: transparent url('C:/Users/User/Desktop/html-css-assignment/images/document-img.png') 0% 0% no-repeat padding-box;
    /* background: transparent url('/home/cuelogic.local/swapnil.rasal/vscode-workspace/final-assignment/html/message-icon.png') 0% 0% no-repeat padding-box; */
    margin: 32px 26px 31px 26px;
}