*
{
    box-sizing: border-box;
}
.contents
{
    z-index: -1;
    max-width: 1200px;
    height: auto;
    margin: auto;
    background: #EBECF2 0% 0% no-repeat padding-box;
    border: 1px solid black;
    overflow: auto;
}

header
{
    height: 60px;
    background: #384B59 0% 0% no-repeat padding-box;
    opacity: 1;
    position: fixed;
    z-index: 999;
}
.divnew
{ 
    width: 1200px;
    height: 41px;
    position: relative;
    top: 9px;    
    background-color: orange;
}
header .divnew .headimg1
{
    position: absolute;
    height: inherit;
    width: 171px;
    left: 66px;
    background: transparent url('/home/cuelogic.local/swapnil.rasal/vscode-workspace/final-assignment/html/logo.png') 0% 0% no-repeat padding-box;
    left: 24px;
    opacity: 1;
}

header .divnew .headimg2
{   
    position: absolute;
    height: 15px;
    width: 30px;
    left: 255px;
    top: 15px;
    background: transparent url('/home/cuelogic.local/swapnil.rasal/vscode-workspace/final-assignment/html/img1.png') 0% 0% no-repeat padding-box;
    opacity: 1;

}

header .divnew .toolbox
{   
    position: absolute;
    height: 40.41px;
    width: 143px;
    /* background: #384B59 0% 0% no-repeat padding-box;     */
    opacity: 1;
    right: 24px;
    top: 0.59px;
    border: 1px solid red;
}


header .divnew .toolbox .messagebox
{   
    position: absolute;
    height: 17px;
    width: 20px;
    background: transparent url('/home/cuelogic.local/swapnil.rasal/vscode-workspace/final-assignment/html/message-icon.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    left: 0;
    top: 12.41px;
}

header .divnew .toolbox .message
{   
    position: absolute;
    height: 19px;
    width: 19px;
    background: #FE5621 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    left: 11px;
    top: 0.41px;
}

header .divnew .toolbox .para
{   
    position: absolute;
    height: 17px;
    width: 8px;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    
    left: 16px;
    top: 0px;
   

}


header .divnew .toolbox .settingicon
{   
    position: absolute;
    height: 21px;
    width: 20px;
    background: transparent url('/home/cuelogic.local/swapnil.rasal/vscode-workspace/final-assignment/html/setting.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    right: 61px;
    top: 10.41px;

}
header .divnew .toolbox .searchbox
{   
    position: absolute;
    height: 40px;
    width: 40px;
    background: #384B59 0% 0% no-repeat padding-box;    
    opacity: 1;
    right: 0px;
    top: 0.41px;
}

header .divnew .searchbox .searchicon
{   
    position: absolute;
    height: 18px;
    width: 17px;
    background: transparent url('/home/cuelogic.local/swapnil.rasal/vscode-workspace/final-assignment/html/Ellipse 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    right: 12px;
    top: 12px;

}


section .dashboard
{
position: relative;
width: 1152px;

top: 103px;
left: 24px;
opacity: 1;
background-color: yellow;
}

section .dashboard .rect
{
float: left;
width: 22%;

top: 162px;
opacity: 1;
margin-right: 24px;
margin-block-end: 0px;
background-color: cyan;
border: 1px solid black;
}


.clear{
    clear:both;
}